setuptools
asgiref
autopep8
black
certifi
cffi
charset-normalizer
click
colorama
cryptography
defusedxml
distlib
Django
django-cors-headers
django-ratelimit
djangorestframework
djangorestframework_simplejwt
djoser
dnspython
email_validator
filelock
flake8
idna
isort
mccabe
mypy-extensions
oauthlib
packaging
pathspec
pillow
platformdirs
psycopg2-binary
pycodestyle
pycparser
pyflakes
PyJWT
python-dotenv
python3-openid
requests
requests-oauthlib
ruff
social-auth-app-django
social-auth-core
sqlparse
stripe
typing_extensions
tzdata
urllib3
virtualenv
gunicorn
